@page "{employee}"
@model DevelopersNet.vCard.Web.Pages.ProfileModel
@{
    //ViewData["Employee"] = "";
}

@section Scripts {
    <script type="text/javascript">
        function redirectToVcf(name) {
            const url = `https://vcards.developers.net/vcard/${name}`;
            window.location.href = url;
        }
    </script>
}


<div class="content">
    <img src="~/images/Background.png" alt="background" class="developers-image">

    @if (Model.Profile == null)
    {

        <div style="display: flex; justify-content:center; margin-top: 50px;">
            <span>Employee @ViewData["employee"] does not exist</span>
        </div>
    }
    else
    {

        <div class="developer-profile">
            <div>
                <img class="developer-profile-image" src="~/images/@Model.Profile.ProfileImage" alt="profile">
            </div>
            
        </div>

        <div class="developer-information">
            <div class="developer-information-name">
                @Model.Profile.Name
            </div>
            <div class="developer-information-description">
                @Model.Profile.Description
            </div>

            <div class="developer-information-separator">
                <img src="~/images/Linea_Verde.svg" alt="linea verde">
            </div>

            <ul>
                <li>
                    <div>
                        <img src="~/images/Icon_Email.svg" alt="email_icon">
                        <span>@Model.Profile.Email</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="~/images/Icon_Phone.svg" alt="phone_icon">
                        <span>@Model.Profile.Phone</span>
                    </div>
                </li>
                 <li>
                    <div>
                        <img src="~/images/Icon_Address.svg" alt="address_icon">
                        <span>@Model.Profile.Address</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="~/images/Icon_Website.svg" alt="website_icon">
                        <span>
                            <a href="@Model.Profile.WebPage">developers.net</a>
                        </span>
                    </div>
                </li>
                @if(Model.Profile.PublicProfilesUrl.Count() > 0)
                {
                    @foreach (var profile in Model.Profile.PublicProfilesUrl)
                    {
                        <li>
                            <div>
                                @if (profile.Contains("linkedin"))
                                {
                                    <i class="fa-brands fa-linkedin"></i>                                    
                                    <span>
                                        <a href="@profile">Linked In</a>
                                    </span>
                                }
                            </div>
                        </li>
                    }
                }                
            </ul>
        </div>

        
    }
</div>
@if (Model.Profile != null)
{
    <div class="developer-calltoaction">

        <button onclick="redirectToVcf('@Model.Profile.VCardName')">
            <img src="~/images/Icon_Add.svg" alt="Add_icon">
            Add to Contacts
        </button>
    </div>    
}
